body {
  background: #101;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: auto;
  max-height: 350px;
  transition: max-height 2s;
}

.large {
  max-height: 500px;
}

.small {
  max-height: 200px;
}

.full {
  width: auto;
  max-height: 900px;
  transition: max-height 6s;
}

.hidden {
  display: none;
}
